{% extends "base.html" %}
{% block content %}
<div class="container" >
    <form class="form-group" method="POST">
    {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {{form.email(class='form-control form-control-label')  }}
        </div>
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{form.username(class='form-control form-control-label')  }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{form.password(class='form-control form-control-label')  }}
        </div>
        <div class="form-group">
          {{ form.pass_confirm.label(class="form-control-label") }}
          {{form.pass_confirm(class='form-control form-control-label')  }}
        </div> 
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}


